.container{
    padding-right: 0px !important;
}

.rounded-left{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    align-content: center;
    display: flex;
    justify-content: center;
}

.rounded-right{
    width: 250px;
    height: 58px;
    background: linear-gradient(89.76deg, #FFF80A -3.96%, #FFFFFF 124.63%);
    border-radius: 30px 0px 0px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 100%;
    margin-left: 7px;
    display: flex;
    background-position: center center;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}

.img.profil{
    align-self: center;
}

.user-info{
    width: 190px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}