body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEEEEE !important;
}

code {
  font-family: 'Poppins', sans-serif;
}
*{
  font-family: 'Poppins', sans-serif;
}
